@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.header {
  width: 100%;
  background-image: url("/public/image/header-background.jpg");
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10px;
  /* background-color: rgb(209, 38, 38); */
  font-family: 'Inconsolata', monospace;
  font-weight: 400;
}

.header-title {
  color: white;
  cursor: pointer;
}

.li,
a,
button {
  font-family: "Inconsolata", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  padding: 10px;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links a {
  transition: all 0.3s ease 0s;
  background-color: rgba(255, 255, 255, 0.60);
  color: black;
}

.nav__links a:hover {
  background-color: rgba(255, 255, 255, 0.95);
}

.button {
  padding: 9px 25px;
  background-color: aquamarine;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

h1 {
  font-size: 28px;
  background-color: rgba(255, 255, 255, 0.60);
  color: black;
  font-weight: 400;
  padding:10px;
}