.header {
  width: 100%;
  background-image: url("/public/image/header-background.jpg");
  height: 90px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-top: -23px;
}

.header-title {
  color: rgb(0, 0, 0);
}
